.card {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: fixed;
}

.spancolor{
	color: red;
}

.flex{
	display: flex;
}

.advantage{
	justify-content: space-around;
}

li{
	text-align: center;
}

h3{
	text-align: center;
}